* {
    top: 0;
    margin: 0;
    box-sizing: border-box;

}

/*NavBar*/

.flexdiv {
    display: flex;
    align-items: center;


}

nav {
    padding: 10px 2%;
    /*justify-content: space-between;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.5);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navleft {
    margin-left: 5px;
    cursor: pointer;
}

.navleft {
    margin-right: 70%;
    cursor: pointer;
}

.dropdownNav {
    position: relative;
    display: inline-block;
    margin-right: 50%;
    padding: 10;
    font-size: 25;
}


.dropdown {
    margin-right: 100%;
    background: red;
    cursor: pointer;
}

.dropdownContent {
    margin-top: 57%;
    margin-left: -30%;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    color: black;
    padding: 22px 16px;
    text-decoration: none;
    display: block;
}

.navmiddle {
    cursor: pointer;
}


.dropdownNav:hover .dropdownContent {display: block;}



/*Content*/
.starter {
    margin-left: 0%;
    top: 0;
}

.Intro {
    margin-top: -5%;
    width: 100%;
    height: 100%;
    background: rgb(248, 244, 237);
    background-image: url("images/landscapeVector.svg");
    background-size: cover;
    display: inline-flex
}

.Intro img {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.titleBox {
    margin-top: 5%;
    width: 33%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.Intro h1 {
    margin-left: 5%;
    font-size: 84;
    font-weight: bold;
}

.Intro h2 {
    margin-left: 5%;
    font-size: 54;
    font-weight: bold;
}

.Intro p {
    margin-left: 5%;
    font-size: 36;
    margin-top: 100;
}

.learnMore {
    width: 80%;
    margin-left: 10%;
}

.learnMore p {

    margin-left: -5%;
    margin-top: 50%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    color: #fff;


}

.learnMore button {

    width: 100;
    height: 50;
    border-radius: 10%;
    background-color: rgba(214, 50, 0, 0.979);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    margin-left: 20%;
    margin-top: 5%;


}

.learnMore button a {
    color: #fff;
    text-decoration: none;
}

/*Locations*/

.locations h1 {
    margin-left: 40%;
}

/*Grid*/

.container {
    margin-left: 1%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px 600px;
    gap: 20px;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .images {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*when resizing page images will stay focuse on the center, not top left*/
    object-position: 50% 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.gallery-item:hover .image img {
    transform: scale(1.1);
}


.gallery-item .titleText {

    opacity: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    /*Set actual position of title to center, it was off center with longer words*/
    transform: translate(-50%, 50%);
    color: #fff;
    font-size: 25px;
    /*Cant receive pointers events*/
    pointer-events: none;
    transition: .3s ease-in-out;

}

.gallery-item:hover .titleText {
    opacity: 1;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    /* animation: move-down .3s linear;
    padding: 1em;
    width: 100%;*/
}