* {
    top: 0;
    margin: 0;
    box-sizing: border-box;

}

/*NavBar*/

.flexdiv {
    display: flex;
    align-items: center;
    

}

nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navleft {
    margin-left: 5px;
    cursor: pointer;
}

.navmiddle {
    position: relative;
    display: inline-block;
    margin-right: 75;

}
.cities {
    display: flex;
    margin-right: 300;
    padding: 16;
    font-size: 25;
}
.trails {
    margin-left: 100%;
}

.beaches {
    margin-left: 100%;
}

.dropdown {
    margin-top: 10%;
    margin-left: -5%;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 22px 16px;
    text-decoration: none;
    display: block;
}

.navmiddle {
    cursor: pointer;
}

/*Javascript*/
/*.dropdown:hover .dropdown-content {display: block;}*/



/*Content*/
.starter {
    margin-left: 0%;
    top: 0;
}

.Intro {
    width: 100%;
    height: 100%;
    background: rgb(248, 244, 237);
    background-image: url("images/landscapeVector.svg");
    background-size: cover;
    display:inline-flex
}

.Intro img {
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.2);
}

.titleBox {
    width: 33%; 
    height: 100%; 
    background: rgba(255, 255, 255, 0.2); 
}

.Intro h1 {
    margin-left: 15%;
    font-size: 84;
    font-weight: bold;
}

.Intro h2 {
    margin-left: 5%;
    font-size: 54;
    font-weight: bold;
}

.Intro p {
    margin-left: 5%;
    font-size: 36;
    margin-top: 100;
}

.culture {
    margin-top: 10%;
    width: 100%;
    height: 100%;
    background-image: url("images/art-6626881.png");
    background-size: cover;
    display:inline-flex;
}

.culture .archeology {
    margin-left: 75%;
    width: 35%;
    height: 25%;
}

.culture .art {
    margin-top: 75%;
    width: 55%;
    height: 25%;
}

.culture {
    margin-left: 5%;
    width: 33%; 
    height: 100%; 
    background: rgba(255, 255, 255, 0.2); 
}

.culture h1 {
    margin-left: -15%;
    font-size: 84;
    font-weight: bold;
}

.culture h2 {
    margin-left: -15%;
    font-size: 54;
    font-weight: bold;
}

.culture p {
    margin-left: -15%;
    font-size: 36;
    margin-top: 100;
}


.CarbonImpact h1{
    margin-left: 35%;
    font-size: 64;
}

.CarbonImpact h2{
    margin-left: 30%;
    font-size: 48;
    width: 50%;
}

.CarbonImpact {
    width: 100%;
    height: 100%;
    margin-top: 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.CarbonImpact .title {
    width: 100%; 
    height: 20%; 
    background: rgba(0, 0, 0, 0.2); 
}

.co2graph .graph_1 {

    margin-left: 10%;
    width: 100%;
    height: 100%;
    font-size: 45;
    

}

.co2graph .subtitle {
    display: inline-block;
    margin-left: 0%;
    width: 20%;
    float: left;
}


.co2graph .graph_2 {

    margin-left: 10%;
    width: 100%;
    height: 100%;
    font-size: 45;
    margin-top: -35%;
    
}

.co2graph .graph_3 {

    margin-left: 10%;
    width: 100%;
    height: 100%;
    font-size: 45;
    margin-top: -37%;

}

.co2graph .trees {
    float: right;
    margin-top: -80%;

}




